<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FeederMasterDB" connectionString="metadata=&quot;res://*/Entity Class.FeederMasterDB.csdl|res://*/Entity Class.FeederMasterDB.ssdl|res://*/Entity Class.FeederMasterDB.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.18;initial catalog=FeederMasterDBTest;persist security info=True;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>